#erratum-popup {
    font-size: 14px;
}
#erratum-popup-form .form-submit {
    margin: 0;
    float: right;
}
#erratum-message {
    height: 27px;
    line-height: 27px;
    text-align: right;
}
#erratum-message.success-message {
    color: green;
}
#erratum-message.error-message {
    color: red;
}
#erratum-popup-text {
    margin: 0;
    padding: 0;
}
#erratum-selected-fragment {
    background: #f7f7f7;
    margin: 10px 0;
    padding: 5px;
    color: #ccc;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
#erratum-selected-fragment span {
    color: #000;
}